.change-grid {
    display: grid;
    place-items: center;
    height: 100vh;
}

.change-options {
    display: flex;
    padding-left: 10px;
    margin-top: 0.5rem;
    justify-content: center;
    gap: 1rem;
}

.erros{
    margin-bottom: 0.5rem;
}
