.changeGrid {
    display: grid;
    place-items: center;
    height: 100vh;
}

.changeOptions {
    display: flex;
    padding-left: 10px;
    margin-top: 0.5rem;
    justify-content: center;
    gap: 1rem;
}

.errors {
    margin-bottom: 0.5rem;
}

.field {
    margin-bottom: 1rem;
}

.changeBackground{
    background-color: #d3ebc4;
}

.changeButtons{
    background-color: #397f0a;
}