.profileGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
   
}

.card {
    width: 100%;
    max-width: 900px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var( --card-background);
    color: var(--text-color);
}




.fieldGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}

.field {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem;
}

.errorMessage {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    color: #fb1808;
    font-size: 0.875rem;
    width: 100%;
    z-index: 1;
}

.field .footer {
    margin-top: 0.5rem;
    color: #f44336;
    font-size: x-small;
}

.field .p-message {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    width: 100%;
    z-index: 1;
}

.field label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.profilePicture {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.profileOptions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.profileButtons {
    background-color: var(--button-background);
}

@media (max-width: 768px) {
    .profileGrid{
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .fieldGroup {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 1rem;
    }
}