.card {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.categoryItem {
    color: var(--text-color);
    background-color: var(--container-color);
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.categoryItem:hover {
    transform: scale(1.02);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.categoryContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionButtons {
    display: flex;
    gap: 0.5rem;
}

.customButton {
    font-size: small;
}

@media (max-width: 768px) {
    .categoryContent {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .categoryContent h3 {
        font-size: 1rem;
    }

    .categoryContent p {
        font-size: 0.875rem;
    }

    .actionButtons {
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .customButton {
        font-size: small;
    }
}
