.background {
    background-image: url('../image/background-3.jpg');
    background-size: cover;
    background-position: center;
    min-height: 70vh; /* Certifique-se de que ocupa toda a altura */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente, se necessário */
    align-items: center; /* Centraliza o conteúdo verticalmente, se necessário */
    /* Adicione padding se o conteúdo estiver muito encostado nas bordas */
    padding: 20px;
    box-sizing: border-box;
}
