.recoverGrid {
    display: grid;
    place-items: center;
    height: 100vh;
}

.recoverOptions {
    display: flex;
    padding-left: 10px;
    margin-top: 0.5rem;
    justify-content: center;
    gap: 1rem;
}

.recoverBackground{
    background-color: var( --card-background);
    color: var(--text-color);
}

.recoverButtons{
    background-color: var(--button-background);
}


