.recoverGrid {
    display: grid;
    place-items: center;
    height: 100vh;
}

.recoverOptions {
    display: flex;
    padding-left: 10px;
    margin-top: 0.5rem;
    justify-content: center;
    gap: 1rem;
}

.recoverBackground{
    background-color: #d3ebc4;
}

.recoverButtons{
    background-color: #397f0a;
}