.textColor{
    color: red;
}


.homeBackground{
    background-color: #d3ebc4;
}

.homeButtons{
    background-color: #397f0a;
}

.dashboard-grid{
    display: grid;
    place-items: center;
    height: 100vh;
}