.auctionGrid {
    display: flex;
    flex-direction: column;
    /* Alinha os elementos verticalmente */
    align-items: center;
    /* Centraliza horizontalmente */
    color: var(--text-color);
}


.fieldGroup {
    width: 100%;
    max-width: 600px;
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
}

.field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.field label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.auctionOptions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.auctionButtons {
    background-color: var(--button-background);
    color: var(--button-text-color);
}


.imagePreview {
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite quebra de linha para imagens */
    gap: 10px; /* Espaço entre as imagens */
    margin: 15px 0; /* Espaço antes e depois da galeria */
}
.galleryImage {
    width: 80%; /* 25% da largura do elemento pai */
    height: 80%; /* 25% da altura do elemento pai */
    object-fit: cover;
    border-radius: 5px; /* Arredonda os cantos */
    border: 1px solid #ccc; /* Adiciona uma borda leve */
}

.imageDeleted {
    opacity: 0.5; /* Reduz a opacidade para dar efeito de desativado */
    filter: grayscale(100%); /* Converte a imagem para tons de cinza */
}

.imagePreview {
    position: relative;
    margin: 10px;
}





@media (max-width: 768px) {
    .auctionGrid {
        margin-top: 50px;
        margin-bottom: 50px;
    }

}