/* HeaderLogout.module.css */

.header {
    border: 1px solid #aaa9a9;
    border-radius: 5px;
    padding: 10px;
    background-color: #a19768;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: x-large;
}

.header h2 {
    margin: 0;
    position: absolute;
    left: 20px;
}

.navLeft,
.navRight {
    display: flex;
}

.navLeft {
    flex: 1;
    justify-content: center;
}

.navLeft ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navLeft ul li {
    margin-left: 20px;
}

.navRight {
    display: flex;
    align-items: center;
    position: relative;
    /* For positioning the dropdown */
}

.languageWrapper {
    position: relative;
    /* For positioning the dropdown menu */
}

.languageButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5da531;
    color: white;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.languageMenu {
    display: none;
    position: absolute;
    top: 100%;
    /* Position directly below the button */
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 0;
    list-style: none;
    z-index: 20;
}

.languageMenu li {
    padding: 8px 12px;
    cursor: pointer;
    color: #333;
    font-size: 12px;
    /* Reduced font size */
    border-bottom: 1px solid #ddd;
    /* Separator between items */
}

.languageMenu li:last-child {
    border-bottom: none;
    /* No border for the last item */
}

.languageMenu li:hover {
    background-color: #f1f1f1;
}

/* Cor dos ícones */
.header .fa {
    color: white;
    /* Ajuste a cor dos ícones aqui */
}

/* Garantir que os links e ícones do menu sejam brancos */
.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

/* Mostrar menu quando `languageMenuVisible` for true */
.languageWrapper .languageMenu {
    display: block;
}