.registerGrid {
    display: grid;
    place-items: center;
    height: 100vh;
}

.registerBackground{
    background-color: #d3ebc4;
}

.registerButtons{
    background-color: #397f0a;
}

.registerOptions {
    display: flex;
    padding-left: 10px;
    margin-top: 0.5rem;
    justify-content: center;
    gap: 1rem;
}



.erros {
    margin-bottom: 0.5rem;
}



.p-icon-field {
    width: 100%;
}